# Flutter/Dart
.dart_tool/
.buildlog/
.build/
.flutter-plugins
.packages
# Android/IntelliJ/VSCode
.idea/
.vscode/
*.iml
/build/
/ios/Pods/
/ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
# macOS (build artifacts)
macos/Flutter/Flutter.framework
# Dependent files
pubspec.lock
dashbord-react/node_modules/
dashbord-react/dist/
dashbord-react/package-lock.json
